.waiter {
    border-radius: 5px;
    padding: 1em;
  }
    

  .title {
    line-height: 2em;
    height: 2em;
    font-weight: bold;
    font-size: 25px;  
  }
  
  
  .btns {
    margin-bottom: .5em;
  }